.archive
  h1
    color: #5A5A5A;
    font-size: 1.875rem;
    font-weight: 300;

  .list
    margin-bottom: 3.125rem;

    &:last-child
      margin-bottom: 0;

    h2
      color: #5A5A5A;
      font-size: 1.25rem;
      font-weight: 300;

    ul
      li
        list-style: none;
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 1.0625rem;

        &:last-child
          margin-bottom: 0;

        span
          width: 3.75rem;
          display: inline-block;
          color: #BBBBBB;
        
        a
          color: #494949;
          text-decoration: none;
          letter-spacing: .5px;