.post
  .title
    margin-bottom: .3125rem;
  
  .meta
    margin-bottom: 2.0625rem;

    .dates
      color: #BBBBBB;
      font-size: .8125rem;
      line-height: .8125rem;

// 第二种布局方案
// title和meta居中， 文章段落indent 2em