
extends common/layout.pug

block content
  - var yearPosts = {}
  each post in site.posts.data
    - var year = post.date.year()
    if yearPosts[year] === undefined
      - yearPosts[year] = []
    - yearPosts[year].push(post)

  h1 Archives

  each value, key in yearPosts
    .list
      h2= key
      ul
        each post in value
          li
            span= moment(post.date).format("MMM D")
            a(href=`${config.root}${post.path}`) post.title