extends common/layout.pug

block content
  h1.title= page.title
  .meta
    span.dates dates：#{moment(page.date).format("YYYY-MM-DD hh:mm:ss")}
    if (page.tag)
      span.tags tags:
        each tag in page.tags
          tag
  
  article.content
    != page.content