@import "./lib/normalize.css";
@import "./lib/var.styl";
@import "./common/*";
@import "./includes/*";
@import "./page/*";

.main-container
  max-width: 50%;
  margin: 0 auto;

  @media (max-width: 650px) {
    max-width: 85% !important;
    min-height: 25rem;

    // 简单适配一下，后面可以把nav改成btn
  }