.{$rootClass}comt-footer 
  display: flex;
  flex-direction: column;
  align-items: center;

  p
    font-size: .875rem;
    line-height: .875rem;
    color: #BBBBBB;

    a
      color: #494949;
      text-decoration: none;