.{$rootClass}comt-header
  padding: 1.25rem 1.25rem 0;
  
  nav
    display: flex;
    justify-content: flex-end;

    a
      font-size: .8125rem;
      line-height: .8125rem;
      color: #494949;
      text-decoration: none;
      padding: .5rem .75rem;

      &:hover
        color: #BBBBBB;
        transition: all .3s;