p
  font-size: .875rem;
  line-height: 1.25rem;
  color: #494949;

for row in 1 2 3 4 5 6
  h{row}
    font-size: ((22 - row * 2) / 16)rem;
    line-height: ((22 - row * 2) / 16)rem;
    font-weight: 400;
    color: #000000;